<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="Hydrospanner" providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=Hydrospanner;Integrated Security=SSPI;Enlist=False;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="rabbit-server" value="amqp://guest:guest@localhost:5672/" />
    <add key="queue-name" value="test-queue" />
    <add key="snapshot-path" value="C:/" />
    <add key="snapshot-prefix" value="1" />
  </appSettings>
  
</configuration>