<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NodeId" value="1"/>
    <add key="BrokerAddress" value="amqp://direct/default"/>
    <add key="SourceQueue" value="fizzbuzz"/>
    <add key="SnapshotPath" value="C:/live/snapshots/fizzbuzz"/>
    <add key="SnapshotGeneration" value="1"/>
    <add key="DuplicateWindow" value="1024"/>
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="MessageLog" providerName="MySql.Data.MySqlClient"
				 connectionString="Server=localhost;Database=fizzbuzz;Uid=root;Pwd=password;ConnectionTimeout=5;DefaultCommandTimeout=5;AutoEnlist=false;UseCompression=true;"/>
    <add name="PublicSnapshots" providerName="MySql.Data.MySqlClient"
             connectionString="Server=localhost;Database=fizzbuzz;Uid=root;Pwd=password;ConnectionTimeout=5;DefaultCommandTimeout=5;AutoEnlist=false;UseCompression=true;"/>  
  </connectionStrings>
</configuration>