<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
	<appSettings>
		<add key="hydrospanner-node-id" value="1"/>
		<add key="hydrospanner-broker-address" value="amqp://guest:guest@localhost:5672/" />
		<add key="hydrospanner-source-queue" value="fizzbuzz"/>
		<add key="hydrospanner-duplicate-window" value="1024"/>
		<add key="hydrospanner-system-snapshot-location" value="C:/live/snapshots/fizzbuzz"/>
		<add key="hydrospanner-system-snapshot-frequency" value="500000"/>
		<add key="hydrospanner-journal-batch-size" value="5000"/>
	</appSettings>

	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
					 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<add name="hydrospanner-journal" providerName="MySql.Data.MySqlClient"
				 connectionString="Server=localhost;Database=fizzbuzz;Uid=root;Pwd=password;ConnectionTimeout=15;DefaultCommandTimeout=30;AutoEnlist=false;UseCompression=true;"/>
		<add name="hydrospanner-public-snapshots" providerName="MySql.Data.MySqlClient"
						 connectionString="Server=localhost;Database=fizzbuzz;Uid=root;Pwd=password;ConnectionTimeout=15;DefaultCommandTimeout=30;AutoEnlist=false;UseCompression=true;"/>  
	</connectionStrings>

	<log4net>
		<appender name="Rolling" type="log4net.Appender.RollingFileAppender">
			<threshold value="INFO" />
			<file type="log4net.Util.PatternString" value="Log-pid%processid-" />
			<datePattern value="yyyy-MM-dd'.txt'" />
			<maxSizeRollBackups value="10" />
			<rollingStyle value="Date" />
			<lockingModel type="log4net.Appender.FileAppender+ExclusiveLock" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss.fff} [%thread] %-5level %logger{2} - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="INFO" />
			<appender-ref ref="Rolling" />
		</root>
	</log4net>

</configuration>