<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Disruptor.Net" version="2.10.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.1.5" targetFramework="net40" />
  <package id="System.IO.Abstractions" version="1.4.0.66" targetFramework="net40" />
  <package id="WindowsAzure.ServiceBus" version="2.2.1.1" targetFramework="net40" />
</packages>